/**********************************************
*** GENERAL
**********************************************/

input {
    position: absolute;
    top: 460px;
    color:#555;
    font-size: 18px;
    font-family: 'Poiret One', cursive;
	font-weight: 500;
    text-align: center;
    padding: 10px;
    width: 170px;
    text-transform: uppercase;
    transform: translateX(37%);
}

.player-current-option :focus { 
    outline: none; 
}

#card-1 {
	top: 120px;
    left: 420px;
	
}

#card-2 {
	top: 120px;
    left: 460px;
	
}

#card-3 {
	top: 120px;
    left: 500px;
	
}

#card-4 {
	top: 120px;
    left: 540px;
	
}

#card-5 {
	top: 120px;
    left: 580px;
	
}

#card-6 {
	top: 210px;
	left: 420px;
}

#card-7 {
	top: 210px;
    left: 460px;
	
}

#card-8 {
	top: 210px;
    left: 500px;
	
}

#card-9 {
	top: 210px;
    left: 540px;
	
}

#card-10 {
	top: 210px;
    left: 580px;
	
}

#card-back {
	top: 300px;
	
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poiret One', cursive;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
	border-radius: 20px;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #cf6a87;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 100px;
    position: absolute;
    color: #cf6a87;
    top: -43px;
    right: 30px;
    
}

.player-current-box {
    background-color: #cf6a87;
    color: #fff;
    width: 70%;
    height: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    transform: translateY(30%);
	border-radius: 20px
    
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
	font-weight: 550;
	
}

.player-current-score {
    font-size: 70px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #cf6a87;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-flip { top: 400px;}
.btn-hit { top: 445px;}
.btn-hold { top: 490px;}


.card {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translate(-50%, 0);
    height: 70px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #cf6a87; }